<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Portafolio - Angel David Mariscal Soto</title>
</head>
<body>
    <header class="backContact">
        <nav class="nav-bar">
            <ul>
                <li><a href="/">About Me</a></li>
                <li><a href="/experiencia">Experiencia Laboral</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/logros">Logros</a></li>
                <li><a href="/contactos">Contactos</a></li>
            </ul>
        </nav>
        <div class="intro">
            <div class="content">
                <h2>Contactos: </h2>
                <p><a href="https://github.com/AngelMariscal01">GitHub: </a>https://github.com/AngelMariscal01</p>
                <p><a href="https://www.linkedin.com/in/angel-david-mariscal-soto-b5235925a/">Linkedin: </a>https://www.linkedin.com/in/angel-david-mariscal-soto-b5235925a/</p>
                <p><a href="mailto:angel.mariscal.soto@gmail.com">Correo: </a>angel.mariscal.soto@gmail.com</p>
                <p><a href="tel:+523511932430">Teléfono: </a>+523511932430</p>
                <p><a href="https://maps.app.goo.gl/oq456ZpKhpxgti8n7">Localización: </a>Zamora, Michoacán. México</p>
                
            </div>
        </div>
    </header>
</body>
