<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Portafolio - Angel David Mariscal Soto</title>
</head>
<body>
    <header class="back">
        <nav class="nav-bar">
            <ul>
                <li><a href="/">About Me</a></li>
                <li><a href="/experiencia">Experiencia Laboral</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/logros">Logros</a></li>
                <li><a href="/contactos">Contactos</a></li>
            </ul>
        </nav>
        <div class="intro">
            <div class="content">
                <h2>Desarrollador de software</h2>
                <p class="roles">
                    <span>Linux</span> |
                    <span>Raspberry pi</span> |
                    <span>Python</span> |
                    <span>JSON</span> |
                    <span>PYQT</span> |
                    <span>GIT</span>
                </p>
                <h3>SightWise Tech · Profesional independiente</h3>
                <h4>Junio del 2023 - Marzo del 2024 </h4>
                <p>El proyecto consiste en desarrollar una aplicación de escritorio integrada en una Raspberry Pi, diseñada para automatizar el proceso de filtrado y gestión del estado de productos tecnológicos. La aplicación estará construida utilizando tecnologías avanzadas para asegurar su rendimiento y seguridad.</p>
                <p><strong>Características Principales:</strong></p>
                <ul>
                    <li><strong><a>Automatización del Filtrado de Productos:</a></strong> Implementación de algoritmos y procesos automatizados para filtrar y gestionar el estado de los productos tecnológicos. La aplicación realizará análisis en tiempo real y actualizará automáticamente el estado de los productos basándose en criterios predefinidos.</li>
                    <li><strong><a>Interfaz Gráfica de Usuario (GUI):</a></strong> Desarrollo de una GUI interactiva utilizando PyQt, que permitirá a los usuarios realizar operaciones de filtrado, visualizar datos y administrar productos de manera eficiente.</li>
                    <li><strong><a>Seguridad de la Aplicación:</a></strong> Implementación de medidas de seguridad para proteger la aplicación y los datos del usuario. Esto incluye la autenticación de usuarios, la encriptación de datos sensibles y la protección contra accesos no autorizados. Se utilizarán prácticas de desarrollo seguro y se revisarán periódicamente las vulnerabilidades de seguridad.</li>
                    <li><strong><a>Integración y Manejo de Datos:</a></strong> Utilización de JSON para el almacenamiento y la transferencia de datos. La aplicación manejará datos de productos tecnológicos, realizando operaciones de lectura, escritura y filtrado de manera efectiva.</li>
                </ul>
            </div>
        </div>
    </header>
</body>
