<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Portafolio - Angel David Mariscal Soto</title>
</head>
<body>
    <header class="backLogros">
        <nav class="nav-bar">
            <ul>
                <li><a href="/">About Me</a></li>
                <li><a href="/experiencia">Experiencia Laboral</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/logros">Logros</a></li>
                <li><a href="/contactos">Contactos</a></li>
                
            </ul>
        </nav>
        <div class="intro">
            <div class="content">
                <h1>Concursos de Programacion:</h1>
                <ul>
                    <li><strong><a>Coding Cup Edición Michoacán 2024: </a></strong> Expedida por Mtra. Teresa López Hernández.</li>
                    <br>
                    <li><strong><a>XI CONCURSO LOCAL DE PROGRAMACION 2023: </a></strong> Expedida por Karlo Martin Samaguey Zamora.</li>
                    <br>
                    <li><strong><a>XII CONCURSO LOCAL DE PROGRAMACION 2024: </a></strong> Expedida por Karlo Martin Samaguey Zamora.</li>
                </ul>
            </div>
        </div>
    </header>
</body>
