<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Portafolio - Angel David Mariscal Soto</title>
</head>
<body>
    <header class="proyectosback">
        <nav class="nav-bar">
            <ul>
                <li><a href="/">About Me</a></li>
                <li><a href="/experiencia">Experiencia Laboral</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/logros">Logros</a></li>
                <li><a href="/contactos">Contactos</a></li>
            </ul>
        </nav>
        <div class="intro">
            <div class="content">
                <h2>Proyectos: </h2>
                <ul>
                    <li><strong><a href="/proyectoUno">Primer Proyecto Individual de Data Science - "SoyHenry";</a></strong> Desarrollo de una API utilizando para implementar funciones de análisis de datos y recomendaciones en
                        base a datos de juegos de Steam.</li>
                        <br>
                    <li><strong><a href="/proyectoDos">
                        Segundo Proyecto Individual de Data Science-"SoyHenry":</a></strong> Desarrollo de un dashboard interactivo utilizando Streamlit para analizar datos sobre siniestros
                        viales en la Ciudad de Buenos Aires, con el objetivo de ayudar a las autoridades a disminuir la
                        cantidad de víctimas fatales.</li>
                        <BR></BR>
                    <li><strong><a href="/proyectoTres">
                        Proyecto Grupal - “SoyHenry”:</a></strong> Desarrollar una solución integral de análisis y recomendación basada en datos de reseñas de usuarios en
                        plataformas como Yelp y Google Maps para la tienda de conveniencia Dunkin'.</li>
                        <BR></BR>
                    <li><strong><a href="/proyectoCuatros">Aplicación para el Acceso a Eventos:</a></strong> Esta es una aplicación de escritorio desarrollada en Python utilizando Tkinter para gestionar el acceso a eventos mediante códigos de identificación, que pueden ser códigos de barras o QR. Permite la administración de la asistencia de invitados y el registro de nuevos usuarios.</li>
                </ul>
            </div>
        </div>
    </header>
</body>
