<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Portafolio - Angel David Mariscal Soto</title>
</head>
<body>
    <header class="backProDos">
        <nav class="nav-bar">
            <ul>
                <li><a href="/">About Me</a></li>
                <li><a href="/experiencia">Experiencia Laboral</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/logros">Logros</a></li>
                <li><a href="/contactos">Contactos</a></li>
            </ul>
        </nav>
        <div class="intro">
            <div class="content">
                <h2>Segundo Proyecto Individual de Data Science de "SoyHenry"</h2>
                <p class="roles">
                    <span>Python</span> |
                    <span>Pandas</span> |
                    <span>Seaborn</span> |
                    <span>Matplotlib</span> |
                    <span>Streamlit</span> |
                    <span>GIT</span>
                </p>
                <h3>Streamlit Dashboard de Accidentes Viales en CABA</h3>
                <p>Este proyecto consiste en el desarrollo de un dashboard interactivo utilizando Streamlit para analizar accidentes viales en la Ciudad Autónoma de Buenos Aires (CABA). El dashboard permite a los usuarios visualizar datos, aplicar filtros interactivos, y obtener insights clave sobre la seguridad vial en la ciudad.</p>
                <p><strong>Características Principales:</strong></p>
                <ul>
                    <li><strong><a>Carga y Procesamiento de Datos: </a></strong> Se carga un conjunto de datos de accidentes viales, que incluye detalles como tipo de calle, comuna, rol de las víctimas, y más.</li>
                    <li><strong><a>Filtros Interactivos: </a></strong> Los usuarios pueden filtrar los datos por año, tipo de calle, comuna, rol de las víctimas y género (masculino, femenino, o ambos). Se ofrece la opción de seleccionar todos los años o un año específico para análisis detallados.</li>
                    <li><strong><a>Cálculo de KPIs: </a></strong> Calcula la tasa de homicidios en siniestros viales por cada 100,000 habitantes en CABA. Mide la reducción de accidentes mortales de motociclistas entre dos años consecutivos. Analiza la evolución de la tasa de accidentes con víctimas en avenidas.</li>
                    <li><strong><a>Visualizaciones de Datos: </a></strong> Proporcionan una visión clara sobre la cantidad de accidentes por tipo de calle y vehículo de la víctima. Un histograma muestra la distribución de edades de las víctimas de accidentes. Un mapa interactivo muestra la localización de los accidentes en CABA, permitiendo identificar hotspots.</li>
                    <li><strong><a>Interfaz de Usuario: </a></strong> Permite la navegación sencilla a través de los diferentes componentes del dashboard, brindando una experiencia de usuario intuitiva.</li>
                </ul>
                <p>Este proyecto demuestra mis habilidades en el desarrollo de aplicaciones de visualización de datos, manejo de grandes volúmenes de datos y generación de insights útiles para la toma de decisiones en la seguridad vial. Puedes explorar el código fuente en mi <a href="https://github.com/AngelMariscal01/PI.2.git">repositorio de GitHub.</a></p>
            </div>
        </div>
    </header>
</body>
