<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Portafolio - Angel David Mariscal Soto</title>
</head>
<body>
    <header class="backProTres">
        <nav class="nav-bar">
            <ul>
                <li><a href="/">About Me</a></li>
                <li><a href="/experiencia">Experiencia Laboral</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/logros">Logros</a></li>
                <li><a href="/contactos">Contactos</a></li>
            </ul>
        </nav>
        <div class="intro">
            <div class="content">
                <h2>Proyecto Grupal - “SoyHenry”:</h2>
                <p class="roles">
                    <span>Python</span> |
                    <span>BigQuery</span> |
                    <span>Storage</span> |
                    <span>pandas</span> |
                    <span>matplotlib</span> |
                    <span>MySQL Workbench</span> |
                    <span>SQL</span> |
                    <span>Power BI</span> |
                    <span>seaborn</span> |
                    <span>Scikit-learn</span> |
                    <span>XGBoost</span>
                </p>
                <h3>Insightful Data Solutions: </h3>
                <p>Este proyecto es una plataforma de gestión de datos desarrollada como parte del programa de estudio en Henry, que permite la integración y análisis de grandes volúmenes de datos para facilitar la toma de decisiones en tiempo real. El proyecto fue realizado en equipo, y cada miembro tuvo un rol específico para asegurar la calidad y funcionalidad del sistema.</p>
                <p><strong>Mi Rol:</strong> Data Engineer - conexiones, infraestructura en la nube, deploy ML.</p>
                <p>Fui responsable de la ingeniería de datos, lo que incluyó el diseño e implementación de conexiones entre múltiples servicios y el manejo de la infraestructura en la nube.</p>
                <ul>
                    <li><strong><a>Google Cloud Run: </a></strong> Implementé contenedores para el despliegue de aplicaciones escalables.</li>
                    <li><strong><a>Google Cloud Functions: </a></strong> Diseñé funciones serverless para procesar eventos y ejecutar lógica de negocio.</li>
                    <li><strong><a>Cloud SQL & MySQL Workbench: </a></strong> Configuré y administré bases de datos para almacenar y gestionar los datos de manera eficiente.</li>
                    <li><strong><a>Cloud Storage & BigQuery: </a></strong> Utilicé Google Cloud Storage para el almacenamiento de datos no estructurados y BigQuery para consultas analíticas de grandes volúmenes de datos.</li>
                    <p><strong>Colaboración:</strong> Trabajo en equipo con herramientas como Slack y GitHub.</p>
                    <p><strong>Desafíos y Soluciones:</strong> Diseño de pipelines de datos eficientes.</p>
                    <a href="https://github.com/Risango/Henry-PF" target="_blank">Ver en GitHub</a>
                </ul>
            </div>
        </div>
    </header>
</body>
