<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Portafolio - Angel David Mariscal Soto</title>
</head>
<body>
    <header class="backProCuatro">
        <nav class="nav-bar">
            <ul>
                <li><a href="/">About Me</a></li>
                <li><a href="/experiencia">Experiencia Laboral</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/logros">Logros</a></li>
                <li><a href="/contactos">Contactos</a></li>
            </ul>
        </nav>
        <div class="intro">
            <div class="content">
                <h2>Aplicación para el Acceso a Eventos</h2>
                <p class="roles">
                    <span>Python</span> |
                    <span>Tkinter</span> |
                    <span>JSON</span> |
                    <span>GIT</span>
                </p>
                <p>La aplicación de gestión de acceso a eventos es una herramienta intuitiva y eficiente que permite a los organizadores de eventos registrar, modificar y eliminar invitados, así como gestionar su estado de asistencia. La interfaz gráfica es fácil de usar y proporciona funciones de búsqueda y filtrado para mejorar la experiencia del usuario. El sistema está diseñado para eventos donde es necesario llevar un control preciso de los asistentes, como conferencias, talleres, seminarios o reuniones privadas (Se recomienda usar algun tipo de lector de códigos como: QR, Barras, etc).</p>
                <p><strong>Características Principales:</strong></p>
                <ul>
                    <li><strong><a>Interfaz Gráfica de Usuario (GUI) Amigable:</a></strong> Utiliza Tkinter para crear una interfaz gráfica interactiva que es fácil de navegar y usar.</li>
                    <li><strong><a>Gestión de Invitados: </a></strong> Permite ingresar nuevos invitados mediante un formulario que solicita el código y el nombre del invitado. Posibilidad de eliminar invitados seleccionados de la lista y del archivo JSON.</li>
                    <li><strong><a>Registro de Asistencia: </a></strong> Funcionalidad para marcar la asistencia de un invitado ingresando su código directamente. Los usuarios pueden registrar la asistencia de los invitados seleccionados como "Asistido" o "Sin Asistir" con botones dedicados.</li>
                    <li><strong><a>Búsqueda y Filtrado: </a></strong> Permite buscar invitados por código o nombre, mostrando resultados en tiempo real. Los invitados pueden ser filtrados para mostrar solo aquellos que han asistido o no.</li>
                    <li><strong><a>Persistencia de Datos: </a></strong>Los datos de los invitados se almacenan en un archivo JSON, lo que permite guardar y cargar fácilmente los registros de la aplicación.</li>
                    <li><strong><a>Feedback al Usuario:</a></strong> Mensajes de error y éxito proporcionan retroalimentación clara al usuario, mejorando la experiencia y usabilidad de la aplicación. Mensajes emergentes para confirmar acciones como la eliminación de invitados y la adición exitosa de nuevos registros.</li>
                </ul>
                <p>Este proyecto es una solución efectiva para la gestión de eventos, ayudando a los organizadores a mantener un control organizado y preciso de los participantes. La aplicación es una excelente muestra de tus habilidades en desarrollo de aplicaciones GUI y manejo de datos en Python.</p>
                <a href="https://github.com/AngelMariscal01/EventosApp" target="_blank">Ver en GitHub</a>            
            </div>
        </div>
    </header>
</body>
